<div class="table-responsive">
  <table class="table">
      <thead>
      <tr>
          <th></th>
          <th>name</th>
          <th>port/sock</th>
          <th>mode</th>
          <th>default backend</th>
          <th>servers</th>
          <th>acls</th>
          <th>http limits</th>
          <th>tcp limits</th>
          <th></th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat-start="frontend in config.frontends" 
          ng-click="showDetails = !showDetails"
          class="mouse-pointer">
          <td><small>{{$index + 1}}</small></td>
          <td><small>{{frontend.name}}</small></td>
          <td ng-if="frontend.bindPort > 0"><small>{{frontend.bindPort}}</small></td>
          <td ng-if="frontend.bindPort == 0"><small>socket</small></td>
          <td><small>{{frontend.mode}}</small></td>
          <td><small>{{frontend.defaultBackend.name}}</small></td>
          <td><small>{{frontend.defaultBackend.servers.length}}</small></td>
          <td><small>{{frontend.acls.length || 0}}</small></td>
          <td><small>{{frontend.httpSpikeLimits.length > 0}}</small></td>
          <td><small>{{frontend.tcpSpikeLimits.length > 0}}</small></td>
          <td><small ng-class="{
                                  'fui-triangle-down' : showDetails == false,
                                  'fui-triangle-up'   : showDetails == true
                                }"
              class="pull-right"></small>
          </td>
      </tr>
      <tr id="details_{{$index}}" ng-repeat-end ng-show="showDetails" class="slideable" >
        <td></td>
        <td colspan="9" ng-include src="'tpl/details.html'"></td>
      <tr>
      </tbody>
  </table>
</div>